/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2017, 6:06:08 PM
    Author     : kb
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2017, 10:58:16 AM
    Author     : kb
*/

body {
    background: url(http://i.dailymail.co.uk/i/pix/2012/08/14/article-0-148A2387000005DC-695_964x641.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

   @media only screen and (min-width: 360) and (max-width: 640) {  
    .imageMobileFormat{
     margin-top:-10px;
    margin-bottom: 29px;
    padding-bottom: 20px;
    list-style-type: none;
    width: 10px;
    float:centre;
        
    }
   }

   .img-format6{
    width: 50%;
    margin-left: 25%;
   }


.headerfontsize{
    font-size: 20px;
}

.header{
    font-family :"Helvetica";
    background-color: #f99907;
}


.div-background{
    background: url(http://i.dailymail.co.uk/i/pix/2012/08/14/article-0-148A2387000005DC-695_964x641.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-text{
    font-family: Verdana;
    color: black;
}

.header2{
    margin-bottom: 50px;
}

.paragraph{
    background-color: #f99907;
    color: black;
}

.blockquotes {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 0px;
}
.img-format2{
    margin-top:-10px;
    margin-bottom: 29px;
    padding-bottom: 20px;
    list-style-type: none;


    float:centre;
}

     


.img-format3 {
    margin-top: 86px;
    margin-bottom: -21px;
    /* padding-bottom: 20px; */
    /* list-style-type: none; */
    float: centre;
    width: 250px;
    height: 268px;
}


.img-format4 {
    margin-top: 86px;
    margin-bottom: -21px;
    /* padding-bottom: 20px; */
    /* list-style-type: none; */
    float: centre;
    height: 300px;
    width: 249px;
}

.img-format5 {
    margin-top: 86px;
    margin-bottom: -21px;
    /* padding-bottom: 20px; */
    /* list-style-type: none; */
    float: centre;
    height: 300px;
    width: 243px;
}

.img-class {
    margin-left: -3px;
    border-radius: .25em;
}




.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}

/*read more css*/
#profile-description {
    width: 690px; margin-top: 50px; position:relative;
}
#profile-description .text {
    width: 660px; margin-bottom: 5px; color: #777; padding: 0 15px; position:relative; font-family: Arial; font-size: 14px; display: block;
}



#div1{
    margin-top: 31px;
}

/* Other style */ 
body {
    padding: 2%;
}


.img-format{
    margin-top:-10px;
    float:centre;
}

.button-style{
    background-color: #ec791a; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

 .read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: black;
  font-size: .9em;
  line-height: 2;
}

/* Other style */ 
body {
  padding: 2%;
}

p {
  padding: 2%;
  background: none;
  color: black;
 
}


.paragraph2{
    color: black;
}

